@model CRUD.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Đăng nhập";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.default.css" rel="stylesheet" />
    <link href="~/Scripts/notify/pnotify.custom.min.css" rel="stylesheet" />
</head>

<body class="signin">
    <section>

        <div class="panel panel-signin">
            <div class="panel-footer border-b border-t">
                <div class="logo text-center">
                    <img alt="Chain Logo" src="/content/images/logo-primary.png">
                </div>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb15">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div><!-- input-group -->
                    <div class="input-group mb15">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div><!-- input-group -->

                    @*<div class="clearfix">
                        <div class="pull-left">
                            <label for="rememberMe">
                                @Html.CheckBoxFor(x => x.RememberMe, new { id = "rememberMe" })
                                Lưu tài khoản và mật khẩu
                            </label>
                        </div>
                    </div>*@
                    <div class="mt10">
                        <button type="submit" class="btn btn-primary" style="width:100%">Đăng nhập</button>
                    </div>
                    <div class="mt10">
                        
                        <button type="button" class="btn btn-danger" style="width:100%" onclick="location.href = '/Account/LoginExternal/Google';">Login with Google Account</button>
                    </div>
                }

            </div><!-- panel-body -->
            <div class="panel-footer">
                <div class="pull-left">  <a href="#">Quên mật khẩu ? </a></div>
                <div class="pull-right"> <a href="#"> <img src="/content/images/icon_h.png"> Trợ giúp </a> </div>
            </div><!-- panel-footer -->
        </div><!-- panel -->

    </section>
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/jquery.cookies.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Scripts/notify/pnotify.custom.min.js"></script>
    <script src="~/Scripts/Coviet.common.js"></script>

    @Html.Partial("Messages")
</body>
</html>