<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Import dữ liệu nhân sự - VNPT BHXH</title>

        <link href="~/Content/css/style.default.css" rel="stylesheet">
        <link href="~/Content/css/site.css" rel="stylesheet">
        <link href="~/Scripts/notify/pnotify.custom.min.css" rel="stylesheet">
        
        <script src="~/Content/js/jquery-1.11.1.min.js"></script>
        <script src="~/Content/js/jquery-ui-1.10.3.min.js"></script>
        <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/jquery.cookies.js"></script>

        <script src="~/Content/js/custom.js"></script>
        <script src="~/Scripts/notify/pnotify.custom.min.js"></script>
        <script src="~/Scripts/Coviet.common.js"></script>

        <script src="~/Scripts/file-upload/jquery.fileupload.js"></script>
        <script src="~/Views/Shared/Uploads/upload_file.js"></script>

        

        @RenderSection("scripts", required: false)

        <script>
        var rootUrl = "@Url.Content("~/")";
        </script>
    </head>

</head>


<body>

    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="~/Default/Index" class="logo">
                    <img src="~/Content/images/logo.png" alt="" />
                </a>
                <div class="pull-right">
                    <a href="#" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div><!-- header-left -->

            <div class="header-right">

                <div class="pull-right">

                    <form class="form form-search" action="#">
                        <input type="search" class="form-control" placeholder="Search" />
                    </form>


                </div><!-- pull-right -->

            </div><!-- header-right -->

        </div><!-- headerwrapper -->
    </header>

    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#">
                        <img class="img" src="~/Content/images/vnpt_logo.png" alt="" width="60px" height="60px">
                    </a>
                    <div class="media-body">
                        @*<h4 class="media-heading">@iCMS.Common.CurrentContext.ThongTinChung.TenDangNhap</h4>*@
                        <small class="text-muted"><a href="@Url.Action("LogOut","Account")">Đăng xuất</a></small>
                    </div>
                </div><!-- media -->

                <h5 class="leftpanel-title">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="@Url.Action("Index", "Product")"><i class="fa fa-home"></i> <span>Import dữ liệu</span></a></li>
                    <li><a href="~/Default/History"><i class="fa fa-cloud-upload"></i> <span>Dữ liệu đã import</span></a></li>
                    <li><a href="~/Content/Resources/Export_nhan_su_sms.pdf" target="_blank"><i class="fa fa-question-circle"></i> <span>Hưỡng dẫn sử dụng</span></a></li>

                </ul>

            </div><!-- leftpanel -->

            <div class="mainpanel">
                @RenderBody()
            </div><!-- mainpanel -->
        </div><!-- mainwrapper -->
        
    </section>

</body>

</html>